<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.dao.mapper.JsSuppliesMapper" >
  <resultMap id="BaseResultMap" type="com.zt.pojo.po.JsSupplies" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyCode" property="companycode" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="payStatus" property="paystatus" jdbcType="INTEGER" />
    <result column="buyTime" property="buytime" jdbcType="VARCHAR" />
    <result column="payTime" property="paytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, companyCode, money, payStatus, buyTime, payTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zt.pojo.po.JsSuppliesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from js_supplies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from js_supplies
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from js_supplies
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zt.pojo.po.JsSuppliesExample" >
    delete from js_supplies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zt.pojo.po.JsSupplies" >
    insert into js_supplies (id, companyCode, money, 
      payStatus, buyTime, payTime
      )
    values (#{id,jdbcType=INTEGER}, #{companycode,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, 
      #{paystatus,jdbcType=INTEGER}, #{buytime,jdbcType=VARCHAR}, #{paytime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zt.pojo.po.JsSupplies" >
    insert into js_supplies
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companycode != null" >
        companyCode,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="paystatus != null" >
        payStatus,
      </if>
      <if test="buytime != null" >
        buyTime,
      </if>
      <if test="paytime != null" >
        payTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="buytime != null" >
        #{buytime,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zt.pojo.po.JsSuppliesExample" resultType="java.lang.Integer" >
    select count(*) from js_supplies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update js_supplies
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companycode != null" >
        companyCode = #{record.companycode,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DOUBLE},
      </if>
      <if test="record.paystatus != null" >
        payStatus = #{record.paystatus,jdbcType=INTEGER},
      </if>
      <if test="record.buytime != null" >
        buyTime = #{record.buytime,jdbcType=VARCHAR},
      </if>
      <if test="record.paytime != null" >
        payTime = #{record.paytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update js_supplies
    set id = #{record.id,jdbcType=INTEGER},
      companyCode = #{record.companycode,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DOUBLE},
      payStatus = #{record.paystatus,jdbcType=INTEGER},
      buyTime = #{record.buytime,jdbcType=VARCHAR},
      payTime = #{record.paytime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zt.pojo.po.JsSupplies" >
    update js_supplies
    <set >
      <if test="companycode != null" >
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="paystatus != null" >
        payStatus = #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="buytime != null" >
        buyTime = #{buytime,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null" >
        payTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zt.pojo.po.JsSupplies" >
    update js_supplies
    set companyCode = #{companycode,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      payStatus = #{paystatus,jdbcType=INTEGER},
      buyTime = #{buytime,jdbcType=VARCHAR},
      payTime = #{paytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>