<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.dao.mapper.TCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.zt.pojo.po.TCompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyName" property="companyname" jdbcType="VARCHAR" />
    <result column="companyCode" property="companycode" jdbcType="VARCHAR" />
    <result column="sendName" property="sendname" jdbcType="VARCHAR" />
    <result column="sendPhone" property="sendphone" jdbcType="VARCHAR" />
    <result column="sendAddress" property="sendaddress" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="isDelete" property="isdelete" jdbcType="INTEGER" />
    <result column="delivercompany" property="delivercompany" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, companyName, companyCode, sendName, sendPhone, sendAddress, createTime, isDelete, 
    delivercompany
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zt.pojo.po.TCompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zt.pojo.po.TCompanyExample" >
    delete from t_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zt.pojo.po.TCompany" >
    insert into t_company (id, companyName, companyCode, 
      sendName, sendPhone, sendAddress, 
      createTime, isDelete, delivercompany
      )
    values (#{id,jdbcType=INTEGER}, #{companyname,jdbcType=VARCHAR}, #{companycode,jdbcType=VARCHAR}, 
      #{sendname,jdbcType=VARCHAR}, #{sendphone,jdbcType=VARCHAR}, #{sendaddress,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=INTEGER}, #{delivercompany,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zt.pojo.po.TCompany" >
    insert into t_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyname != null" >
        companyName,
      </if>
      <if test="companycode != null" >
        companyCode,
      </if>
      <if test="sendname != null" >
        sendName,
      </if>
      <if test="sendphone != null" >
        sendPhone,
      </if>
      <if test="sendaddress != null" >
        sendAddress,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="delivercompany != null" >
        delivercompany,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="sendname != null" >
        #{sendname,jdbcType=VARCHAR},
      </if>
      <if test="sendphone != null" >
        #{sendphone,jdbcType=VARCHAR},
      </if>
      <if test="sendaddress != null" >
        #{sendaddress,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="delivercompany != null" >
        #{delivercompany,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zt.pojo.po.TCompanyExample" resultType="java.lang.Integer" >
    select count(*) from t_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_company
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyname != null" >
        companyName = #{record.companyname,jdbcType=VARCHAR},
      </if>
      <if test="record.companycode != null" >
        companyCode = #{record.companycode,jdbcType=VARCHAR},
      </if>
      <if test="record.sendname != null" >
        sendName = #{record.sendname,jdbcType=VARCHAR},
      </if>
      <if test="record.sendphone != null" >
        sendPhone = #{record.sendphone,jdbcType=VARCHAR},
      </if>
      <if test="record.sendaddress != null" >
        sendAddress = #{record.sendaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isdelete != null" >
        isDelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.delivercompany != null" >
        delivercompany = #{record.delivercompany,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_company
    set id = #{record.id,jdbcType=INTEGER},
      companyName = #{record.companyname,jdbcType=VARCHAR},
      companyCode = #{record.companycode,jdbcType=VARCHAR},
      sendName = #{record.sendname,jdbcType=VARCHAR},
      sendPhone = #{record.sendphone,jdbcType=VARCHAR},
      sendAddress = #{record.sendaddress,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      isDelete = #{record.isdelete,jdbcType=INTEGER},
      delivercompany = #{record.delivercompany,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zt.pojo.po.TCompany" >
    update t_company
    <set >
      <if test="companyname != null" >
        companyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="sendname != null" >
        sendName = #{sendname,jdbcType=VARCHAR},
      </if>
      <if test="sendphone != null" >
        sendPhone = #{sendphone,jdbcType=VARCHAR},
      </if>
      <if test="sendaddress != null" >
        sendAddress = #{sendaddress,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="delivercompany != null" >
        delivercompany = #{delivercompany,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zt.pojo.po.TCompany" >
    update t_company
    set companyName = #{companyname,jdbcType=VARCHAR},
      companyCode = #{companycode,jdbcType=VARCHAR},
      sendName = #{sendname,jdbcType=VARCHAR},
      sendPhone = #{sendphone,jdbcType=VARCHAR},
      sendAddress = #{sendaddress,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      isDelete = #{isdelete,jdbcType=INTEGER},
      delivercompany = #{delivercompany,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>