<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.dao.mapper.TSuppliesMapper" >
  <resultMap id="BaseResultMap" type="com.zt.pojo.po.TSupplies" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="suppliesId" property="suppliesid" jdbcType="VARCHAR" />
    <result column="suppliesName" property="suppliesname" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="suppliesType" property="suppliestype" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, suppliesId, suppliesName, type, suppliesType, price, number, spec
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zt.pojo.po.TSuppliesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_supplies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_supplies
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_supplies
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zt.pojo.po.TSuppliesExample" >
    delete from t_supplies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zt.pojo.po.TSupplies" >
    insert into t_supplies (id, suppliesId, suppliesName, 
      type, suppliesType, price, 
      number, spec)
    values (#{id,jdbcType=INTEGER}, #{suppliesid,jdbcType=VARCHAR}, #{suppliesname,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{suppliestype,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{spec,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zt.pojo.po.TSupplies" >
    insert into t_supplies
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="suppliesid != null" >
        suppliesId,
      </if>
      <if test="suppliesname != null" >
        suppliesName,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="suppliestype != null" >
        suppliesType,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="spec != null" >
        spec,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="suppliesid != null" >
        #{suppliesid,jdbcType=VARCHAR},
      </if>
      <if test="suppliesname != null" >
        #{suppliesname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="suppliestype != null" >
        #{suppliestype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zt.pojo.po.TSuppliesExample" resultType="java.lang.Integer" >
    select count(*) from t_supplies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_supplies
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.suppliesid != null" >
        suppliesId = #{record.suppliesid,jdbcType=VARCHAR},
      </if>
      <if test="record.suppliesname != null" >
        suppliesName = #{record.suppliesname,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.suppliestype != null" >
        suppliesType = #{record.suppliestype,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.spec != null" >
        spec = #{record.spec,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_supplies
    set id = #{record.id,jdbcType=INTEGER},
      suppliesId = #{record.suppliesid,jdbcType=VARCHAR},
      suppliesName = #{record.suppliesname,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      suppliesType = #{record.suppliestype,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER},
      spec = #{record.spec,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zt.pojo.po.TSupplies" >
    update t_supplies
    <set >
      <if test="suppliesid != null" >
        suppliesId = #{suppliesid,jdbcType=VARCHAR},
      </if>
      <if test="suppliesname != null" >
        suppliesName = #{suppliesname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="suppliestype != null" >
        suppliesType = #{suppliestype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zt.pojo.po.TSupplies" >
    update t_supplies
    set suppliesId = #{suppliesid,jdbcType=VARCHAR},
      suppliesName = #{suppliesname,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      suppliesType = #{suppliestype,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      spec = #{spec,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>