<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.dao.mapper.WebportMapper" >
  <resultMap id="BaseResultMap" type="com.zt.pojo.po.Webport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Url" property="url" jdbcType="VARCHAR" />
    <result column="tab" property="tab" jdbcType="VARCHAR" />
    <result column="Code" property="code" jdbcType="VARCHAR" />
    <result column="bm" property="bm" jdbcType="VARCHAR" />
    <result column="tj" property="tj" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, Url, tab, Code, bm, tj, addr
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zt.pojo.po.WebportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from webport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from webport
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from webport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zt.pojo.po.WebportExample" >
    delete from webport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zt.pojo.po.Webport" >
    insert into webport (id, Url, tab, 
      Code, bm, tj, addr
      )
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{tab,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{bm,jdbcType=VARCHAR}, #{tj,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zt.pojo.po.Webport" >
    insert into webport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        Url,
      </if>
      <if test="tab != null" >
        tab,
      </if>
      <if test="code != null" >
        Code,
      </if>
      <if test="bm != null" >
        bm,
      </if>
      <if test="tj != null" >
        tj,
      </if>
      <if test="addr != null" >
        addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="tab != null" >
        #{tab,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="bm != null" >
        #{bm,jdbcType=VARCHAR},
      </if>
      <if test="tj != null" >
        #{tj,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zt.pojo.po.WebportExample" resultType="java.lang.Integer" >
    select count(*) from webport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update webport
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.url != null" >
        Url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.tab != null" >
        tab = #{record.tab,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        Code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.bm != null" >
        bm = #{record.bm,jdbcType=VARCHAR},
      </if>
      <if test="record.tj != null" >
        tj = #{record.tj,jdbcType=VARCHAR},
      </if>
      <if test="record.addr != null" >
        addr = #{record.addr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update webport
    set id = #{record.id,jdbcType=INTEGER},
      Url = #{record.url,jdbcType=VARCHAR},
      tab = #{record.tab,jdbcType=VARCHAR},
      Code = #{record.code,jdbcType=VARCHAR},
      bm = #{record.bm,jdbcType=VARCHAR},
      tj = #{record.tj,jdbcType=VARCHAR},
      addr = #{record.addr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zt.pojo.po.Webport" >
    update webport
    <set >
      <if test="url != null" >
        Url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="tab != null" >
        tab = #{tab,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        Code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="bm != null" >
        bm = #{bm,jdbcType=VARCHAR},
      </if>
      <if test="tj != null" >
        tj = #{tj,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zt.pojo.po.Webport" >
    update webport
    set Url = #{url,jdbcType=VARCHAR},
      tab = #{tab,jdbcType=VARCHAR},
      Code = #{code,jdbcType=VARCHAR},
      bm = #{bm,jdbcType=VARCHAR},
      tj = #{tj,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>