<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.2.xsd"
	default-autowire="byName">
	
    <!--默认的mvc注解映射的支持 -->
	<mvc:annotation-driven conversion-service="conversionService"/>
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
			<property name="converters">
				<list>
					<bean class="com.zt.converter.IntegerConverter"></bean>
					<bean class="com.zt.converter.StringTrimConverter"></bean>		
				</list>
			</property>
	</bean>
	
	<!-- 启用autowire -->
	<context:annotation-config />
	
	<!-- 启用spring注解扫描并指定包所在的位置 -->
	<context:component-scan base-package="com.zt.*" />
	
	<mvc:interceptors> 
        <!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->  
        <bean class="com.zt.interceptor.AllInterceptor"/>
    </mvc:interceptors>
    
	<!-- 定时器开关-->
	 <task:annotation-driven scheduler="qbScheduler"/>  
    <task:scheduler id="qbScheduler" pool-size="10"/> 
	
	<!-- <mvc:resources location="/images/" mapping="/images/**"/> 
	<mvc:resources location="/css/" mapping="/css/**"/> 
	<mvc:resources location="/bootstrap/" mapping="/bootstrap/**"/> 
	<mvc:resources location="/jquery-easyui-1.4.1/" mapping="/jquery-easyui-1.4.1/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>  -->
	
	<!--启动Spring MVC的注解功能完成请求和注解POJO的映射 --> 
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />  
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    <!-- Default ViewResolver对模型视图名称的解析即在模型视图名称添加前后缀 -->  
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/" />  
        <property name="suffix" value=".jsp"></property>  
    </bean>  
    
    <!-- 统一异常处理器 -->
	<bean id="handlerExceptionResolver"
		class="com.zt.process.exception.ExceptionResolverCustom">
		<property name="jacksonMessageConverter" ref="jacksonMessageConverter"></property>
	</bean>
    
 
</beans>